h1{
    text-align: center;
    color: #a0038b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.verh{
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.veerh{
    border: 1px solid rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 5px; color: #580909;
    background-color: rgb(250, 215, 245);
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vverh{
    border: 1px solid rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 5px; color: #580909;
    background-color: rgb(250, 215, 245);
    border-radius: 10px;
    margin-left: 80px;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.td{
    border: 1px solid black;
    text-align: center;
    width: 120px;
    height: 20px;
}
.tdd{
    border: 1px solid black;
    text-align: center;
    width: 90px;
}
.ttdd{
    border: 1px solid black;
    width: 150px;
}
.ttd{
    background-color: rgb(206, 238, 180);
    border: 1px solid black;
    text-align: center;
    width: 120px;
    height: 15px;
}
.razmer{
    text-align: center; 
    width: 450px;
    height: 250px;
    border-collapse: collapse;
}
.pazmer{
    width: 450px;
    height: 250px;
}
.ol{
    width: 220px;
    margin-top: 10px;
}
.li{
    text-align: left;
}
.prepdsimg{
    border-radius: 250px;
    width: 250px;
    height: 250px;
}
.prepds{
    font-size: 25px;
    width: 290px; height: 70px; text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.prepdss{

    text-align: center;
}
.a{
    width: 80px;
    height: 80px;
}
a{
text-decoration: none;
}